:root {
    --page: rgba(196, 181, 253, .36);
    --page-fold: rgba(196, 181, 253, .52);
}

.origin-right-middle {
    transform-origin: 100% 50%;
}

.page-anim {
    transform: rotateY(180deg);
    opacity: 0;
    color: var(--page-fold);
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes page-2 {
    0% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    35%,
    100% {
        opacity: 0;
    }

    50%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-3 {
    15% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }

    65%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-4 {
    30% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    65%,
    100% {
        opacity: 0;
    }

    80%,
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes page-5 {
    45% {
        transform: rotateY(180deg);
        opacity: 0;
    }

    65% {
        opacity: 1;
    }

    80%,
    100% {
        opacity: 0;
    }

    100% {
        transform: rotateY(0deg);
    }
}

.animate-page-2 {
    animation-name: page-2;
}

.animate-page-3 {
    animation-name: page-3;
}

.animate-page-4 {
    animation-name: page-4;
}

.animate-page-5 {
    animation-name: page-5;
}